  
  /*-------------------------Commons---------------------------*/
  
  @font-face {
    font-family="Nanum Gothic";
  }
  
  *{
    font-family: "Apple SD Gothic Neo", Apple Gothic, Helvetica, "Malgun Gothic", Dotum, Arial, Tahoma;
    font-size: 14px;
  }
  
  div {
    display: block;
  }
  
  li {
    list-style: none;
  }
  
  ul {
    padding-inline-start: 0px;
  }
  
  .li_none {
    color: white;
    padding: 10px 0px 10px 0px;
  }
  
  .title_l {
    margin: 35px 0px 20px 0px;
    color: white;
    font-weight: bold;
  }
  
  .main_panel {
    background-color: #F9F9F9;
    padding: 10px 0px 10px 0px;
  }
  
  .th {
    text-align: center;
  }
  
  .title_line {
    padding: 20px 0px 10px 0px;
    color: white;
    font-weight: bold;
  }
  
  .title_black {
    padding: 20px 0px 20px 0px;
    color: black;
    font-weight: bold;
  }
  
  .message {
    color: black;
  }
  
  .popup1 {
    padding: 15px 0px 15px 0px;
  }
  
  /*-----------------------Commons END------------------------*/
  
  /*--------------------------MAIN-----------------------------*/
  
  .main_wrapper {
    min-width: 1080px;
    min-height: 1080px;
    position: relative;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(52deg, #5383e8, #3991ef 31%, #3892f0 32%, #3594f1 36%, #00b2ff);
  }
  
  .main_container {
    position: relative;
    top: 125px;
    min-height: 700px;
    padding-bottom: 120px;
  }
  
  .main_logo {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .main_search_bar_frm {
    position: relative;
    width: 624px;
    height: 50px;
    margin: 0 auto;
    border-radius: 2px;
    background-color: #fff;
  }
  
  .main_search_bar_txt {
    display: block;
    width: 100%;
    padding: 15px 150px 18px 17px;
    background: none;
    border: none;
    line-height: 17px;
    font-size: 14px;
    color: #9b9b9b;
    box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.19);
  }
  
  .main_search_button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px 10px 0 0;
    height: 30px;
    padding: 10px 0px 10px 0px;
    border: none;
  }
  
  .main_bottom {
    width: 1080px;
    margin: 0 auto;
    padding: 40px 0;
    color: white;
  }
  
  /*------------------------MAIN END---------------------------*/
  
  /*--------------------------TOP-----------------------------*/
  
  .top_container {
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 1;
    background: linear-gradient(52deg, #003a70, #00498c, #005baf, #0072db);
  }
  
  .sites {
    position:absolute;
    top: 20px;
    left: 100px;
    margin-bottom: 0px;
    list-style: none;
  }
  
  .site {
  
  }
  
  .imgHome {

  }
  
  .login_list {
    position: absolute;
    top: 27px;
    right: 100px;
    list-style: none;
  }
  
  .login_set {
    margin-left: 20px;
  }
  
  .top {
    position: relative;
    height: 100px;
    background-color: rgb(30, 161, 247);
  }
  
  .login_button {
    display: inline-block;
    height: 26px;
    padding: 0 20px;
    border: none;
    border-radius: 2px;
    line-height: 26px;  
    font-size: 12px;
    letter-spacing: -0.5px;
    color: #ffffff;
    background-color: #1c87c3;
    text-decoration: none;
  }
  
  /*------------------------TOP END---------------------------*/
  
  /*-----------------------TOP_SECOND--------------------------*/
  
  .top_second_container {
    position: absolute;
    width: 100%;
    height: 45px;
    top: 80px;
    background-color: rgb(29, 46, 81);
  }
  
  .top_second_font {
    font-size: 14px;
    color: rgb(115, 161, 203);
  }
  
  .top_second_nav_button {
  
  }
  
  /*----------------------TOP_SECOND END------------------------*/
  
  /*--------------------------BOTTOM-----------------------------*/
  
  .bottom_link {
    float: left;
    padding: 5px;
  }
  
  .bottom_link_item {
    display: inline;
    margin-left: 30px;
  }
  
  .bottom_a_white {
    color: white;
  }
  
  /*------------------------BOTTOM END---------------------------*/
  
  /*--------------------------IMAGE------------------------------*/
  
  .image {
    display: inline-block;
    vertical-align: middle;
    text-indent: -99999px;
  }
  
  .image-42 {
    background-position: -90px -797px;
    width: 50px;
    height: 30px;
  }
  
  /*------------------------IMAGE END----------------------------*/
  
  /*--------------------------MEMBER-----------------------------*/
  
  .member_aside {
    color: white;
  }
  
  .member_aside_a {
    color: white;
  }
  
  /*------------------------MEMBER END---------------------------*/
  
  /*-----------------------COMMUNITY-----------------------------*/
  
  
  /*---------------------COMMUNITY END---------------------------*/
  
  
  /*---------------------------WORD------------------------------*/
  
  .guide_main {
    color: white;
    font-size: 18px;
    padding-top: 30px;
  }
  
  /*-------------------------WORD END----------------------------*/
  
  
  /*--------------------------RESULT----------------------------*/
  
  .page_id {
  
  }
  
  .page_id_word {
    float: left;
  }
  
  .page_recently_searched {
    margin: 12px 0px 5px 0px;
    padding: 12px 0px 5px 0px;
    font-size: 10px;
  }
  
  .page_divide {
    border-bottom: 1px solid #c6cbcb;
    margin-top: 25px;
  }
  
  .page_result {
    display: block;
    margin-top: 15px;
  }
  
  .page_side {
    display: inline-block;
    width: 300px;
    vertical-align: top;
  }
  
  .result_box {
    margin-top: 10px;
    display: table;
    position: relative;
    width: 100%;
    border: 1px solid #cdd2d2;
    background: #f2f2f2;
    border-radius: 2px;
    cursor: pointer;
  }
  
  .hover_box-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  
  .hover_box-1:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  
  .result_box_image_box {
    display: table-cell;
    vertical-align: middle;
    padding-left: 20px;
    width: 120px;
    height: 124px;
    text-align: center;
  }
  
  .result_box_image {
    width: 104px;
    heigth: 104px;
    margin: -5px 0 -10px 0;
  }
  
  .result_box_word {
    display: table-cell;
    vertical-align: middle;
    padding-left: 25px;
    color: #879292;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    text-align: left;
  }
  
  .result_box_freshtomato_box {
    margin-top: 8px;
    padding: 16px 0;
    display: flex;
    background-color: #f2f2f2;
    border: solid 1px #cdd2d2;
    cursor: pointer;
  }
  
  .freshtomato_image {
    width: 64px;
    height: 64px;
    margin: 0 28px;
  }
  
  .freshtomato_rate {
    display: flex;
  }
  
  .arrow_box {
    display: none;
    position: absolute;
    width: 100px;
    padding: 8px;
    left: 0px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px; 
    border-radius: 8px;
    background: #333;
    color: #fff;
    font-size: 14px;
  }
  
  .arrow_box:after {
    position: absolute;
    bottom: 100%;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -10px;
    border: solid transparent;
    border-color: rgba(51, 51, 51, 0);
    border-bottom-color: #333;
    border-width: 10px;
  }
  
  div:hover + p.arrow_box {
    display:block;
  }
  
  .page_real {
    display: inline-block;
    width: 690px;
    margin-left: 10px;
    vertical-align: top;
  }
  
  .page_crawling_head {
    display: block;
    float: left;
    padding-left: 10px;
    width: 100%;
    border-bottom: 1px dotted gray;
    margin-bottom: 5px;
  }
  
  .page_crawling_l {
    width: 70%;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid black;
    margin-bottom: 5px;
  }
  
  /*------------------------RESULT END---------------------------*/
  
  /*--------------------------LOGIN-----------------------------*/
  
  .login_root {
    height: 100%;
    width: 100%;
    text-align: center;
  }
  
  .login {
    height: 100%;
    width: 20%;
  }
  
  .login_root2 {
    height: 100%;
    width: 100%;
  }
  
  .login2 {
    margin: 5% 40% 0% 40%;
    height: 100%;
    width: 20%;
  }
  
  
  /*-------------------------LOGIN END---------------------------*/
  
  /*-------------------------CKEDITOR-----------------------------*/
  
  .ck-editor__editable {
    min-height: 400px;
    text-align: left;
    line-height: 160%;
  }
  
  /*------------------------CKEDITOR END--------------------------*/
  
  
  /*-----------------------------READ-----------------------------*/
  
  .contents_aside {
    height: 70px;
    width: 90%;
  }
  
  .page {
    background: white;
    width: 70%;
    box-shadow: 5px 5px 10px gray;  
  }

  .page_title {
    text-align: left;
    padding: 10px 0px 15px 20px; 
    border-bottom: thin dotted;
  }
  
  .page_id {
    color: gray;
  }
  
  .page_date {
    color: gray;
  }
  
  .page_reply {
    color: gray;
    float: right;
  }
  
  .page_content_pic {
    padding: 30px 0px 15px 20px;
  }
  
  .page_content {
    text-align: left;
    padding: 15px 0px 15px 20px;
  }
  
  .contents_read_ul {
    list-style: none;
  }
  
  /*--------------------------READ END----------------------------*/
  
  /*---------------------------REPLY------------------------------*/
  
  .page_reply {
    width: 70%;
    border-radius: 2px;
    box-shadow: 5px 5px 10px gray;
    margin: 10px 0px 10px 15%;
    float: left;
    background-color: #DDDDDD; 
  }
  
  .page_create_reply {
    width: 100%;
  }
  
  .page_count_reply {
    float: left;
    padding: 10px 0px 5px 10px;
  }
    
  .comment {
    width: 70%;
    border-radius: 2px;
    background: #fafafa;
    box-shadow: 5px 5px 10px gray;
  }
  
  .comment-l {
    display: flow-root;
    border: 5px gray;
    padding: 10px 0px 10px 0px;
    border-bottom: solid 1px #cdd2d2;
  }
  
  .comment-meta {
    position: relative;
    width: 70%;
  }

  .comment-name-l {
    display: flow-root;
    padding: 10px 0px 10px 0px;
    border-bottom: dotted 1px gray;
  }
    
  .comment-name {
    color: blck;
    float: left;
    padding-left: 18px;
    font-weight: bold;
    font-size: medium;
  }
  
  .comment-date {
    color: gray;
    display: inline-block;
    float: right;
    padding-right: 15px;
    font-size: x-small;
  }
  
  .comment-content {
    font-family: Gothic A1;
    margin-top: 20px;
    margin-left: 10px;
    padding: 15px 10px 15px 10px;
    float: left;
    color: gray;
  }
  
  .comment-function {
    float: right;
    padding-top: 10px;
    padding-right: 10px;
  }
  
  
  
  /*-------------------------REPLY END----------------------------*/